.action-button-container {
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.header-h1 {
    color: var(--font-primary-color);
}

.input-labels-color {
    color: var(--font-secondary-color);
}